
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color:#fff;
  color: #0b0c0b;
  font-size: 30px;
  background: linear-gradient(90deg, rgba(246,179,208,1) 0%, rgba(138,168,226,1) 100%);
}

.head{
  color: #f3824d;
}

